/relatorio-qualidade-obras/offline-media/pack-v1/*.ogg
/relatorio-qualidade-obras/offline-media/pack-v1/*.oga
/relatorio-qualidade-obras/offline-media/pack-v1/*.mp3
/relatorio-qualidade-obras/offline-media/pack-v1/*.wav
relatorio-qualidade-obras/offline-media/optimized/
